h1{
    color:white;
    text-align:center;
}
p{
    color:white;
    text-align:center;
}
h2{
    color:white;
    text-align:center;
}
h4{
    color:white; 
    text-align:center; 
}
.tracker{
    height:44%;
    width:40%;
    float:left;
}

body{
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/3599686/580/451/m1/fpnw/wm1/vector-triangle-background-.jpg?1511085906&s=b59a1dcde0f545d7ce5366a94f68e036')
}
h5{
    margin-right:15px;
    padding:5px;
    color:white;
    font-size:30px;
    padding-bottom:5px;
}
